---
layout: breadcrumbs
---

<h1 id="{{page.path}}">{{page.boosterName}}</h1>

<p><img loading="lazy"  src="{{page.boosterImageUrl}}" alt="Image of the {{page.boosterName}} abilty" /></p>

<ul>
  <li><strong>Effect</strong>: <code class="language-plaintext highlighter-rouge"> {{page.boosterDescription}} </code></li>
  <li><strong>Stacks?</strong>: {{page.boosterStacks}} </li>
</ul>

{{content}}

	<div id="contribs" style="flex: 1 0 100%; margin:20px auto">
		<span>Last updated at: {{page.updatedAt}}</span>
		<p>Contributors: {{page.contributors}}</p>
	</div>
