---
layout: default
---

<div class="bot-infos">
	<div class="bot_bloc_1">
		<div class="intro">
			<h1 id="chainer">{{page.botName}}</h1>

			<p><code class="language-plaintext highlighter-rouge">{{page.botDescription}}</code></p>
		</div>
		<div class="pic">
			<p><img src="{{page.botImageUrl}}" alt="Image of {{page.botName}} bot" title="Image of {{page.botName}} bot"/></p>

			<table>
			  <thead>
			    <tr>
			      <th>Type</th>
			      <th>Rarity</th>
			      <th>Acquisition</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>{{page.botType}}</td>
			      <td>{{page.botRarity}}</td>
			      <td>{{page.botAcquisition}}</td>
			    </tr>
			  </tbody>
			</table>
		</div>

		<div class="abilities">
			<h2 id="abilities">Abilities</h2>

			<ul>
			  <li>
			    <p><h3>{{page.ability1Name}}</h3><code class="language-plaintext highlighter-rouge">{{page.ability1Info}}</code></p>
			    <p>{{page.ability1Description}}</p>
			  </li>
			  <li>
			    <p><h3>{{page.ability2Name}}</h3><code class="language-plaintext highlighter-rouge">{{page.ability2Info}}</code></p>
			    <p>{{page.ability2Description}}</p>
			  </li>
		  	  <li>
			    <p><h3>{{page.ability3Name}}</h3><code class="language-plaintext highlighter-rouge">{{page.ability3Info}}</code></p>
			    <p>{{page.ability3Description}}</p>
			  </li>
			</ul>
		</div>
	</div>

	<div class="bot_bloc_2">

		<h2 id="ai-tree">AI tree</h2>

		<ul>
		  <li>
		    <p>AI Level 1 (500xp)</p>

		    <table>
		      <thead>
		        <tr>
		          <th>{{page.ai1aName}}</th>
		          <th>{{page.ai1bName}}</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr>
		          <td>{{page.ai1aDescription}}</td>
		          <td>{{page.ai1bDescription}}</td>
		        </tr>
		      </tbody>
		    </table>
		  </li>
		  <li>
		    <p>AI Level 2 (2000xp)</p>

		   	<table>
		      <thead>
		        <tr>
		          <th>{{page.ai2aName}}</th>
		          <th>{{page.ai2bName}}</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr>
		          <td>{{page.ai2aDescription}}</td>
		          <td>{{page.ai2bDescription}}</td>
		        </tr>
		      </tbody>
		    </table>
		  </li>
		  <li>
		    <p>AI Level 3 (5000xp)</p>

		    <table>
		      <thead>
		        <tr>
		          <th>{{page.ai3aName}}</th>
		          <th>{{page.ai3bName}}</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr>
		          <td>{{page.ai3aDescription}}</td>
		          <td>{{page.ai3bDescription}}</td>
		        </tr>
		      </tbody>
		    </table>
		  </li>
		  <li>
		    <p>AI Level 4 (14000xp)</p>

		    <table>
		      <thead>
		        <tr>
		          <th>{{page.ai4aName}}</th>
		          <th>{{page.ai4bName}}</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr>
		          <td>{{page.ai4aDescription}}</td>
		          <td>{{page.ai4bDescription}}</td>
		        </tr>
		      </tbody>
		    </table>
		  </li>
		  <li>
		    <p>AI Level 5 (30000xp)</p>

		    <table>
		      <thead>
		        <tr>
		          <th>{{page.ai5aName}}</th>
		          <th>{{page.ai5bName}}</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr>
		          <td>{{page.ai5aDescription}}</td>
		          <td>{{page.ai5bDescription}}</td>
		        </tr>
		      </tbody>
		    </table>
		  </li>
		</ul>
	</div>
	<div class="bot_bloc_3">
		<div class="stats">
			
			<h2 id="stats">Stats</h2>

			<table>
			  <thead>
			    <tr>
			      <th>Stats</th>
			      <th>Health</th>
			      <th>Attack</th>
			      <th>DPS</th>
			      <th>Speed</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>Lvl 1</td>
			      <td>{{page.lvl1Hp}}</td>
			      <td>{{page.lvl1Dmg}}</td>
			      <td>{{page.lvl1Dps}}</td>
			      <td>{{page.lvl1Speed}}</td>
			    </tr>
			    <tr>
			      <td>Lvl 10</td>
			      <td>{{page.lvl10Hp}}</td>
			      <td>{{page.lvl10Dmg}}</td>
			      <td>{{page.lvl10Dps}}</td>
			      <td>{{page.lvl1Speed}}</td>
			    </tr>
			    <tr>
			      <td>Lvl 20</td>
			      <td>{{page.lvl20Hp}}</td>
			      <td>{{page.lvl20Dmg}}</td>
			      <td>{{page.lvl20Dps}}</td>
			      <td>{{page.lvl1Speed}}</td>
			    </tr>
			    <tr>
			      <td>Lvl 25</td>
			      <td>{{page.lvl25Hp}}</td>
			      <td>{{page.lvl25Dmg}}</td>
			      <td>{{page.lvl25Dps}}</td>
			      <td>{{page.lvl1Speed}}</td>
			    </tr>
			  </tbody>
			</table>
		</div>

		<div class="upgrades">

			<h2 id="upgrades">Upgrades</h2>

			<table>
			  <tbody>
			    <tr>
			      <td class="rarity_Epic">{{page.epicMat}}</td>
			      <td class="rarity_Rare">{{page.rareMat}}</td>
			      <td class="rarity_Special">{{page.specialMat}}</td>
			    </tr>
				<tr>
			      <td class="rarity_Common">{{page.commonMat1}}</td>
			      <td class="rarity_Common">{{page.commonMat2}}</td>
			      <td class="rarity_Common">{{page.commonMat3}}</td>
			    </tr>
			  </tbody>
			</table>
		</div>


		<div class="tips">


			<h2 id="tips">Tips</h2>

			{{content}}
		</div>

	</div>
	<div id="contribs" style="flex: 1 0 100%; margin:20px auto">
		<span>Last updated at: {{page.updatedAt}}</span>
		<p>Contributors: {{page.contributors}}</p>
	</div>
</div>
