---
layout: breadcrumbs
---
<style type="text/css">
    .botcard {
        border-radius: 10px;
        width: 240px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .actual-card{
      height: 100%;
      margin-bottom: 20px;
    }
    .pic {
    background: linear-gradient(160deg, #1b1a6b 50%, cyan);
}
    .cardinfos {
        background: #246eff;
    }
    .cardinfos * {
        font-weight: 1000;
    }
    
    .cardinfos table {
        overflow-x: hidden;
        margin: 0px;
    }
    .bot_bloc_4{
      width: 100%;
    }
</style>

<div class="bot-infos">
    <div class="bot_bloc_1">
        <div class="intro">
            <h1 id="chainer">{{page.botName}}</h1>

            <p><code>{{page.botDescription}}</code></p>
        </div>
        <div class="botcard">
          <div class="actual-card rarity_{{page.botRarity}}">
            <div class="pic">
                <p><img loading="lazy"   src="/assets/img/bots{{page.url}}.png" alt="Image of {{page.botName}} bot" title="Image of {{page.botName}} bot"/></p>
            </div>
            <div class="cardinfos">
                <table>
                  <thead>
                    <tr>
                      <th>Type</th>
                      <th>Rarity</th>
                      <th>Acquisition</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><a href="/bots#{{page.botType | slugify}}s" title="Every {{page.botType}} bot">{{page.botType}}</a></td>
                      <td>{{page.botRarity}}</td>
            {% if page.botAcquisition == "Random Drop" or page.botAcquisition == "drop" %}
                <td><a href="/loot#botframes" title="How to find random Botframes">Random Drop</a></td>
            {% elsif page.botAcquisition contains "arena" or page.botAcquisition contains "Arena" %}
                <td><a href="/arena#rewards" title="See the rewards you can get from the arena">{{page.botAcquisition}}</a></td>
            {% elsif page.botAcquisition contains "season" or page.botAcquisition contains "Season" %}
                <td><a href="/seasons" title="Read everything about season rewards">Season</a> then <a href="/loot#botframes" title="How to find random Botframes">Drop</a></td>
            {% elsif page.botAcquisition contains "starter" or page.botAcquisition contains "Starter" %}
                <td><a href="/starter-bots" title="The 3 starter bots in Botworld Adventure">Starter Bot</a> then <a href="/loot#botframes" title="How to find random Botframes">Drop</a></td>
            {% else %}
                <td>{{page.botAcquisition}}</td>
            {% endif %}
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
          <div>
            <h3 id="overview">Overview</h3>
            <div>
              {{page.botOpinion}}
              <p><a href="#comments" title="Comments, AI Builds, tips & tricks...">AI Builds, Tips, etc.</a></p>
            </div>

          </div>
        </div>

        <div class="abilities">
            <h2 id="abilities">Abilities</h2>

            <ul>
              <li>
                <p><h3>{{page.ability1Name}}</h3><code>{{page.ability1Info}}</code></p>
                <p>{{page.ability1Description}}</p>
              </li>
              {% if page.ability2Name and page.ability2Name != "" and page.ability2Name != nil %}
                <li>
                    <p><h3>{{page.ability2Name}}</h3><code>{{page.ability2Info}}</code></p>
                    <p>{{page.ability2Description}}</p>
                </li>
            {% endif %}
              <li>
                <p><h3>{{page.ability3Name}}</h3> (ultimate) <code>{{page.ability3Info}}</code></p>
                <p>{{page.ability3Description}}</p>
              </li>
            </ul>
        </div>
    </div>

    <div class="bot_bloc_2">

        <h2 id="ai-tree">AI tree</h2>

        <ul>
          <li>
            <p>AI Level 1 (500xp)</p>

            <table>
              <thead>
                <tr>
                  <th>{{page.ai1aName}}</th>
                  <th>{{page.ai1bName}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{page.ai1aDescription}}</td>
                  <td>{{page.ai1bDescription}}</td>
                </tr>
              </tbody>
            </table>
          </li>
          <li>
            <p>AI Level 2 (2000xp)</p>

            <table>
              <thead>
                <tr>
                  <th>{{page.ai2aName}}</th>
                  <th>{{page.ai2bName}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{page.ai2aDescription}}</td>
                  <td>{{page.ai2bDescription}}</td>
                </tr>
              </tbody>
            </table>
          </li>
          <li>
            <p>AI Level 3 (5000xp)</p>

            <table>
              <thead>
                <tr>
                  <th>{{page.ai3aName}}</th>
                  <th>{{page.ai3bName}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{page.ai3aDescription}}</td>
                  <td>{{page.ai3bDescription}}</td>
                </tr>
              </tbody>
            </table>
          </li>
          <li>
            <p>AI Level 4 (14000xp)</p>

            <table>
              <thead>
                <tr>
                  <th>{{page.ai4aName}}</th>
                  <th>{{page.ai4bName}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{page.ai4aDescription}}</td>
                  <td>{{page.ai4bDescription}}</td>
                </tr>
              </tbody>
            </table>
          </li>
          <li>
            <p>AI Level 5 (30000xp)</p>

            <table>
              <thead>
                <tr>
                  <th>{{page.ai5aName}}</th>
                  <th>{{page.ai5bName}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{page.ai5aDescription}}</td>
                  <td>{{page.ai5bDescription}}</td>
                </tr>
              </tbody>
            </table>
          </li>
        </ul>
    </div>
    <div class="bot_bloc_3">
        <div class="stats">
            
            <h2 id="stats">Stats</h2>

            <table>
              <thead>
                <tr>
                  <th>Stats</th>
                  <th>Health</th>
                  <th>Attack</th>
                  <th>DPS</th>
                  <th>Speed</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Lvl 1</td>
                  <td>{{page.lvl1Hp}}</td>
                  <td>{{page.lvl1Dmg}}</td>
                  <td>{{page.lvl1Dps}}</td>
                  <td>{{page.lvl1Speed}}</td>
                </tr>
                <tr>
                  <td>Lvl 10</td>
                  <td>{{page.lvl10Hp}}</td>
                  <td>{{page.lvl10Dmg}}</td>
                  <td>{{page.lvl10Dps}}</td>
                  <td>{{page.lvl1Speed}}</td>
                </tr>
                <tr>
                  <td>Lvl 20</td>
                  <td>{{page.lvl20Hp}}</td>
                  <td>{{page.lvl20Dmg}}</td>
                  <td>{{page.lvl20Dps}}</td>
                  <td>{{page.lvl1Speed}}</td>
                </tr>
                <tr>
                  <td>Lvl 25</td>
                  <td>{{page.lvl25Hp}}</td>
                  <td>{{page.lvl25Dmg}}</td>
                  <td>{{page.lvl25Dps}}</td>
                  <td>{{page.lvl1Speed}}</td>
                </tr>
              </tbody>
            </table>
        </div>

        <div class="upgrades">

            <h2 id="upgrades">Upgrades</h2>

            <table>
              <tbody>
                <tr>
                  <td class="rarity_Epic">
                    <a href="/essence" title="Default Essence page">
                        <img loading="lazy"   src="/assets/img/materials/essence.png" alt="Default Essence pic" >
                    </a>
                  </td>
                  <td class="rarity_Rare">
                    <a href="/{{page.rareMat | slugify}}" title="{{page.rareMat}}">
                        <img loading="lazy"   src="/assets/img/materials/{{page.rareMat | slugify}}.png" alt="{{page.rareMat}}" >
                    </a>
                  </td>
                  <td class="rarity_Special">
                    <a href="/{{page.specialMat | slugify}}" title="{{page.specialMat}}">
                        <img loading="lazy"   src="/assets/img/materials/{{page.specialMat | slugify}}.png" alt="{{page.specialMat}}" >
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="rarity_Common">
                    <a href="/{{page.commonMat1 | slugify}}" title="{{page.commonMat1}}">
                        <img loading="lazy"   src="/assets/img/materials/{{page.commonMat1 | slugify}}.png" alt="{{page.commonMat1}}" >
                    </a>
                  </td>
                  <td class="rarity_Common">
                    <a href="/{{page.commonMat2 | slugify}}" title="{{page.commonMat2}}">
                        <img loading="lazy"   src="/assets/img/materials/{{page.commonMat2 | slugify}}.png" alt="{{page.commonMat2}}" >
                    </a>
                  </td>
                  <td class="rarity_Common">
                    <a href="/{{page.commonMat3 | slugify}}" title="{{page.commonMat3}}">
                        <img loading="lazy"   src="/assets/img/materials/{{page.commonMat3 | slugify}}.png" alt="{{page.commonMat3}}" >
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>

    </div>

      <div class="bot_bloc_4">
        <h2 id="comments">Comments</h2>
        <div class="ghcms ghcms-comments">
        {{content}}
        </div>
    </div>
    <div id="contribs" style="flex: 1 0 100%; margin:20px auto">
        <span>Last updated at: {{page.updatedAt}}</span>
        <p>Contributors: {{page.contributors}}</p>
    </div>
</div>
